Repository IgniteUI/igniteui-wc-examples, pull requests merged in 2022-03, with the labels that each got.

#224 Update overview sample with documentOnly and allowEmpty features
  samples/layouts/dock-manager/overview/package.json
  samples/layouts/dock-manager/overview/src/index.ts
Labels: area: samples, status: verified

#232 mdd-273880
  samples/charts/data-chart/composite-chart/index.html
  samples/charts/data-chart/composite-chart/package.json
  samples/charts/data-chart/composite-chart/src/index.ts
Labels: status: in-review

#230 feat(snackbar): provide component samples
  browser/public/index.html
  browser/src/router.ts
  browser/tasks/gulp-samples.js
  samples/notifications/snackbar/action-text/.prettierrc
  samples/notifications/snackbar/action-text/ReadMe.md
  samples/notifications/snackbar/action-text/index.html
  samples/notifications/snackbar/action-text/package.json
  samples/notifications/snackbar/action-text/sandbox.config.json
  samples/notifications/snackbar/action-text/src/index.css
  samples/notifications/snackbar/action-text/src/index.ts
  samples/notifications/snackbar/action-text/tsconfig.json
  samples/notifications/snackbar/action-text/webpack.config.js
  samples/notifications/snackbar/display-time/.prettierrc
  samples/notifications/snackbar/display-time/ReadMe.md
  samples/notifications/snackbar/display-time/index.html
  samples/notifications/snackbar/display-time/package.json
  samples/notifications/snackbar/display-time/sandbox.config.json
  samples/notifications/snackbar/display-time/src/index.css
  samples/notifications/snackbar/display-time/src/index.ts
  samples/notifications/snackbar/display-time/tsconfig.json
  samples/notifications/snackbar/display-time/webpack.config.js
  samples/notifications/snackbar/overview/.prettierrc
  samples/notifications/snackbar/overview/ReadMe.md
  samples/notifications/snackbar/overview/index.html
  samples/notifications/snackbar/overview/package.json
  samples/notifications/snackbar/overview/sandbox.config.json
  samples/notifications/snackbar/overview/src/index.css
  samples/notifications/snackbar/overview/src/index.ts
  samples/notifications/snackbar/overview/tsconfig.json
  samples/notifications/snackbar/overview/webpack.config.js
  samples/notifications/snackbar/styling/.prettierrc
  samples/notifications/snackbar/styling/ReadMe.md
  samples/notifications/snackbar/styling/index.html
  samples/notifications/snackbar/styling/package.json
  samples/notifications/snackbar/styling/sandbox.config.json
  samples/notifications/snackbar/styling/src/SnackbarStyling.css
  samples/notifications/snackbar/styling/src/index.css
  samples/notifications/snackbar/styling/src/index.ts
  samples/notifications/snackbar/styling/tsconfig.json
  samples/notifications/snackbar/styling/webpack.config.js
Labels: status: verified, snackbar

#234 feat(toast): add toast samples
  browser/public/index.html
  browser/tasks/gulp-samples.js
  samples/notifications/toast/overview/.prettierrc
  samples/notifications/toast/overview/ReadMe.md
  samples/notifications/toast/overview/index.html
  samples/notifications/toast/overview/package.json
  samples/notifications/toast/overview/sandbox.config.json
  samples/notifications/toast/overview/src/index.css
  samples/notifications/toast/overview/src/index.ts
  samples/notifications/toast/overview/tsconfig.json
  samples/notifications/toast/overview/webpack.config.js
  samples/notifications/toast/properties/.prettierrc
  samples/notifications/toast/properties/ReadMe.md
  samples/notifications/toast/properties/index.html
  samples/notifications/toast/properties/package.json
  samples/notifications/toast/properties/sandbox.config.json
  samples/notifications/toast/properties/src/ButtonOverviewStyle.css
  samples/notifications/toast/properties/src/index.css
  samples/notifications/toast/properties/src/index.ts
  samples/notifications/toast/properties/tsconfig.json
  samples/notifications/toast/properties/webpack.config.js
  samples/notifications/toast/styling/.prettierrc
  samples/notifications/toast/styling/ReadMe.md
  samples/notifications/toast/styling/index.html
  samples/notifications/toast/styling/package.json
  samples/notifications/toast/styling/sandbox.config.json
  samples/notifications/toast/styling/src/ToastStyling.css
  samples/notifications/toast/styling/src/index.css
  samples/notifications/toast/styling/src/index.ts
  samples/notifications/toast/styling/tsconfig.json
  samples/notifications/toast/styling/webpack.config.js
Labels: area: samples, status: verified, toast

#233 feat(chip): add chip samples
  samples/inputs/chip/multiple/.prettierrc
  samples/inputs/chip/multiple/ReadMe.md
  samples/inputs/chip/multiple/index.html
  samples/inputs/chip/multiple/package.json
  samples/inputs/chip/multiple/sandbox.config.json
  samples/inputs/chip/multiple/src/index.css
  samples/inputs/chip/multiple/src/index.ts
  samples/inputs/chip/multiple/tsconfig.json
  samples/inputs/chip/multiple/webpack.config.js
  samples/inputs/chip/overview/.prettierrc
  samples/inputs/chip/overview/ReadMe.md
  samples/inputs/chip/overview/index.html
  samples/inputs/chip/overview/package.json
  samples/inputs/chip/overview/sandbox.config.json
  samples/inputs/chip/overview/src/index.css
  samples/inputs/chip/overview/src/index.ts
  samples/inputs/chip/overview/tsconfig.json
  samples/inputs/chip/overview/webpack.config.js
  samples/inputs/chip/size/.prettierrc
  samples/inputs/chip/size/ReadMe.md
  samples/inputs/chip/size/index.html
  samples/inputs/chip/size/package.json
  samples/inputs/chip/size/sandbox.config.json
  samples/inputs/chip/size/src/index.css
  samples/inputs/chip/size/src/index.ts
  samples/inputs/chip/size/tsconfig.json
  samples/inputs/chip/size/webpack.config.js
  samples/inputs/chip/styling/.prettierrc
  samples/inputs/chip/styling/ReadMe.md
  samples/inputs/chip/styling/index.html
  samples/inputs/chip/styling/package.json
  samples/inputs/chip/styling/sandbox.config.json
  samples/inputs/chip/styling/src/ChipStyle.css
  samples/inputs/chip/styling/src/index.css
  samples/inputs/chip/styling/src/index.ts
  samples/inputs/chip/styling/tsconfig.json
  samples/inputs/chip/styling/webpack.config.js
  samples/inputs/chip/variants/.prettierrc
  samples/inputs/chip/variants/ReadMe.md
  samples/inputs/chip/variants/index.html
  samples/inputs/chip/variants/package.json
  samples/inputs/chip/variants/sandbox.config.json
  samples/inputs/chip/variants/src/index.css
  samples/inputs/chip/variants/src/index.ts
  samples/inputs/chip/variants/tsconfig.json
  samples/inputs/chip/variants/webpack.config.js
Labels: area: samples, status: verified, chip

#238 Update index.ts
  samples/charts/category-chart/line-chart-with-animations/src/index.ts
Labels: status: in-review

#240 mdd-fix-mcc
  samples/editors/multi-column-combobox/overview/index.html
  samples/editors/multi-column-combobox/overview/src/index.ts
Labels: status: in-review
