Repository IgniteUI/igniteui-wc-examples, pull requests merged in 2022-07, with the labels that each got.

#292 Add Tabs samples
  browser/package.json
  browser/public/index.html
  browser/tasks/gulp-samples.js
  samples/layouts/tabs/alignment/.prettierrc
  samples/layouts/tabs/alignment/ReadMe.md
  samples/layouts/tabs/alignment/index.html
  samples/layouts/tabs/alignment/package.json
  samples/layouts/tabs/alignment/sandbox.config.json
  samples/layouts/tabs/alignment/src/index.css
  samples/layouts/tabs/alignment/src/index.ts
  samples/layouts/tabs/alignment/tsconfig.json
  samples/layouts/tabs/alignment/webpack.config.js
  samples/layouts/tabs/overview/.prettierrc
  samples/layouts/tabs/overview/ReadMe.md
  samples/layouts/tabs/overview/index.html
  samples/layouts/tabs/overview/package.json
  samples/layouts/tabs/overview/sandbox.config.json
  samples/layouts/tabs/overview/src/index.css
  samples/layouts/tabs/overview/src/index.ts
  samples/layouts/tabs/overview/tsconfig.json
  samples/layouts/tabs/overview/webpack.config.js
  samples/layouts/tabs/prefix-suffix/.prettierrc
  samples/layouts/tabs/prefix-suffix/ReadMe.md
  samples/layouts/tabs/prefix-suffix/index.html
  samples/layouts/tabs/prefix-suffix/package.json
  samples/layouts/tabs/prefix-suffix/sandbox.config.json
  samples/layouts/tabs/prefix-suffix/src/index.css
  samples/layouts/tabs/prefix-suffix/src/index.ts
  samples/layouts/tabs/prefix-suffix/tsconfig.json
  samples/layouts/tabs/prefix-suffix/webpack.config.js
  samples/layouts/tabs/scrolling/.prettierrc
  samples/layouts/tabs/scrolling/ReadMe.md
  samples/layouts/tabs/scrolling/index.html
  samples/layouts/tabs/scrolling/package.json
  samples/layouts/tabs/scrolling/sandbox.config.json
  samples/layouts/tabs/scrolling/src/index.css
  samples/layouts/tabs/scrolling/src/index.ts
  samples/layouts/tabs/scrolling/tsconfig.json
  samples/layouts/tabs/scrolling/webpack.config.js
Labels: area: samples, status: awaiting-test

#293 Add accordion samples
  browser/public/index.html
  browser/tasks/gulp-samples.js
  samples/layouts/accordion/customization/.prettierrc
  samples/layouts/accordion/customization/ReadMe.md
  samples/layouts/accordion/customization/index.html
  samples/layouts/accordion/customization/package.json
  samples/layouts/accordion/customization/sandbox.config.json
  samples/layouts/accordion/customization/src/AccordionCustomization.css
  samples/layouts/accordion/customization/src/index.css
  samples/layouts/accordion/customization/src/index.ts
  samples/layouts/accordion/customization/tsconfig.json
  samples/layouts/accordion/customization/webpack.config.js
  samples/layouts/accordion/nested-scenario/.prettierrc
  samples/layouts/accordion/nested-scenario/ReadMe.md
  samples/layouts/accordion/nested-scenario/index.html
  samples/layouts/accordion/nested-scenario/package.json
  samples/layouts/accordion/nested-scenario/sandbox.config.json
  samples/layouts/accordion/nested-scenario/src/AccordionNestedScenario.css
  samples/layouts/accordion/nested-scenario/src/index.css
  samples/layouts/accordion/nested-scenario/src/index.ts
  samples/layouts/accordion/nested-scenario/tsconfig.json
  samples/layouts/accordion/nested-scenario/webpack.config.js
  samples/layouts/accordion/overview/.prettierrc
  samples/layouts/accordion/overview/ReadMe.md
  samples/layouts/accordion/overview/index.html
  samples/layouts/accordion/overview/package.json
  samples/layouts/accordion/overview/sandbox.config.json
  samples/layouts/accordion/overview/src/AccordionOverview.css
  samples/layouts/accordion/overview/src/index.css
  samples/layouts/accordion/overview/src/index.ts
  samples/layouts/accordion/overview/tsconfig.json
  samples/layouts/accordion/overview/webpack.config.js
Labels: status: verified

#263 feat(rating): add samples
  browser/public/index.html
  samples/inputs/rating/basic/.prettierrc
  samples/inputs/rating/basic/ReadMe.md
  samples/inputs/rating/basic/index.html
  samples/inputs/rating/basic/package.json
  samples/inputs/rating/basic/sandbox.config.json
  samples/inputs/rating/basic/src/index.css
  samples/inputs/rating/basic/src/index.ts
  samples/inputs/rating/basic/tsconfig.json
  samples/inputs/rating/basic/webpack.config.js
  samples/inputs/rating/custom/.prettierrc
  samples/inputs/rating/custom/ReadMe.md
  samples/inputs/rating/custom/index.html
  samples/inputs/rating/custom/package.json
  samples/inputs/rating/custom/sandbox.config.json
  samples/inputs/rating/custom/src/index.css
  samples/inputs/rating/custom/src/index.ts
  samples/inputs/rating/custom/tsconfig.json
  samples/inputs/rating/custom/webpack.config.js
  samples/inputs/rating/empty/.prettierrc
  samples/inputs/rating/empty/ReadMe.md
  samples/inputs/rating/empty/index.html
  samples/inputs/rating/empty/package.json
  samples/inputs/rating/empty/sandbox.config.json
  samples/inputs/rating/empty/src/index.css
  samples/inputs/rating/empty/src/index.ts
  samples/inputs/rating/empty/tsconfig.json
  samples/inputs/rating/empty/webpack.config.js
  samples/inputs/rating/single-selection/.prettierrc
  samples/inputs/rating/single-selection/ReadMe.md
  samples/inputs/rating/single-selection/index.html
  samples/inputs/rating/single-selection/package.json
  samples/inputs/rating/single-selection/sandbox.config.json
  samples/inputs/rating/single-selection/src/index.css
  samples/inputs/rating/single-selection/src/index.ts
  samples/inputs/rating/single-selection/tsconfig.json
  samples/inputs/rating/single-selection/webpack.config.js
  samples/inputs/rating/styling/.prettierrc
  samples/inputs/rating/styling/ReadMe.md
  samples/inputs/rating/styling/index.html
  samples/inputs/rating/styling/package.json
  samples/inputs/rating/styling/sandbox.config.json
  samples/inputs/rating/styling/src/index.css
  samples/inputs/rating/styling/src/index.ts
  samples/inputs/rating/styling/tsconfig.json
  samples/inputs/rating/styling/webpack.config.js
Labels: status: do-not-merge, area: browser, area: samples, rating

#294 Update igniteui-webcomponents in date time input samples
  browser/package.json
  samples/inputs/date-time-input/input-format-display-format/package.json
  samples/inputs/date-time-input/input-format-display-format/src/index.ts
  samples/inputs/date-time-input/min-max-value/package.json
  samples/inputs/date-time-input/min-max-value/src/index.ts
  samples/inputs/date-time-input/overview/package.json
  samples/inputs/date-time-input/overview/src/index.ts
  samples/inputs/date-time-input/step-up-down/package.json
  samples/inputs/date-time-input/step-up-down/src/index.ts
Labels: status: awaiting-test

#289 feat(select): component samples
  browser/public/index.html
  browser/tasks/gulp-samples.js
  samples/inputs/select/group/.prettierrc
  samples/inputs/select/group/ReadMe.md
  samples/inputs/select/group/index.html
  samples/inputs/select/group/package.json
  samples/inputs/select/group/sandbox.config.json
  samples/inputs/select/group/src/index.css
  samples/inputs/select/group/src/index.ts
  samples/inputs/select/group/tsconfig.json
  samples/inputs/select/group/webpack.config.js
  samples/inputs/select/header/.prettierrc
  samples/inputs/select/header/ReadMe.md
  samples/inputs/select/header/index.html
  samples/inputs/select/header/package.json
  samples/inputs/select/header/sandbox.config.json
  samples/inputs/select/header/src/index.css
  samples/inputs/select/header/src/index.ts
  samples/inputs/select/header/tsconfig.json
  samples/inputs/select/header/webpack.config.js
  samples/inputs/select/item/.prettierrc
  samples/inputs/select/item/ReadMe.md
  samples/inputs/select/item/index.html
  samples/inputs/select/item/package.json
  samples/inputs/select/item/sandbox.config.json
  samples/inputs/select/item/src/index.css
  samples/inputs/select/item/src/index.ts
  samples/inputs/select/item/tsconfig.json
  samples/inputs/select/item/webpack.config.js
  samples/inputs/select/overview/.prettierrc
  samples/inputs/select/overview/ReadMe.md
  samples/inputs/select/overview/index.html
  samples/inputs/select/overview/package.json
  samples/inputs/select/overview/sandbox.config.json
  samples/inputs/select/overview/src/index.css
  samples/inputs/select/overview/src/index.ts
  samples/inputs/select/overview/tsconfig.json
  samples/inputs/select/overview/webpack.config.js
  samples/inputs/select/styling/.prettierrc
  samples/inputs/select/styling/ReadMe.md
  samples/inputs/select/styling/index.html
  samples/inputs/select/styling/package.json
  samples/inputs/select/styling/sandbox.config.json
  samples/inputs/select/styling/src/SelectStyling.css
  samples/inputs/select/styling/src/index.css
  samples/inputs/select/styling/src/index.ts
  samples/inputs/select/styling/tsconfig.json
  samples/inputs/select/styling/webpack.config.js
Labels: status: awaiting-test, select

#284 Add mask input samples
  browser/public/index.html
  browser/tasks/gulp-samples.js
  samples/inputs/mask-input/applying-mask/.prettierrc
  samples/inputs/mask-input/applying-mask/ReadMe.md
  samples/inputs/mask-input/applying-mask/index.html
  samples/inputs/mask-input/applying-mask/package.json
  samples/inputs/mask-input/applying-mask/sandbox.config.json
  samples/inputs/mask-input/applying-mask/src/index.css
  samples/inputs/mask-input/applying-mask/src/index.ts
  samples/inputs/mask-input/applying-mask/tsconfig.json
  samples/inputs/mask-input/applying-mask/webpack.config.js
  samples/inputs/mask-input/overview/.prettierrc
  samples/inputs/mask-input/overview/ReadMe.md
  samples/inputs/mask-input/overview/index.html
  samples/inputs/mask-input/overview/package.json
  samples/inputs/mask-input/overview/sandbox.config.json
  samples/inputs/mask-input/overview/src/index.css
  samples/inputs/mask-input/overview/src/index.ts
  samples/inputs/mask-input/overview/tsconfig.json
  samples/inputs/mask-input/overview/webpack.config.js
  samples/inputs/mask-input/value-modes/.prettierrc
  samples/inputs/mask-input/value-modes/ReadMe.md
  samples/inputs/mask-input/value-modes/index.html
  samples/inputs/mask-input/value-modes/package.json
  samples/inputs/mask-input/value-modes/sandbox.config.json
  samples/inputs/mask-input/value-modes/src/index.css
  samples/inputs/mask-input/value-modes/src/index.ts
  samples/inputs/mask-input/value-modes/tsconfig.json
  samples/inputs/mask-input/value-modes/webpack.config.js
Labels: area: samples, status: verified

#290 Change name/description in package.json files of Date Time Input samples
  browser/public/index.html
  browser/tasks/gulp-samples.js
  samples/inputs/date-time-input/input-format-display-format/index.html
  samples/inputs/date-time-input/min-max-value/index.html
  samples/inputs/date-time-input/step-up-down/index.html
Labels: status: awaiting-test
