Repository IgniteUI/igniteui-wc-examples, pull requests merged in 2024-06, with the labels that each got.

#736 Add Tree Grid search sample
  samples/grids/tree-grid/data-searching/.prettierrc
  samples/grids/tree-grid/data-searching/index.html
  samples/grids/tree-grid/data-searching/package.json
  samples/grids/tree-grid/data-searching/sandbox.config.json
  samples/grids/tree-grid/data-searching/src/EmployeesFlatData.ts
  samples/grids/tree-grid/data-searching/src/index.css
  samples/grids/tree-grid/data-searching/src/index.ts
  samples/grids/tree-grid/data-searching/tsconfig.json
  samples/grids/tree-grid/data-searching/tslint.json
  samples/grids/tree-grid/data-searching/webpack.config.js
Labels: control: tree-grid

#735 Add tgrid row drag base custom sample
  samples/grids/tree-grid/row-drag-base/.prettierrc
  samples/grids/tree-grid/row-drag-base/ReadMe.md
  samples/grids/tree-grid/row-drag-base/index.html
  samples/grids/tree-grid/row-drag-base/package.json
  samples/grids/tree-grid/row-drag-base/sandbox.config.json
  samples/grids/tree-grid/row-drag-base/src/EmployeesNestedData.ts
  samples/grids/tree-grid/row-drag-base/src/index.css
  samples/grids/tree-grid/row-drag-base/src/index.ts
  samples/grids/tree-grid/row-drag-base/tsconfig.json
  samples/grids/tree-grid/row-drag-base/tslint.json
  samples/grids/tree-grid/row-drag-base/webpack.config.js
Labels: status: verified

#741 TreeGrid - Add custom summaries sample
  samples/grids/tree-grid/data-summaries-custom/.prettierrc
  samples/grids/tree-grid/data-summaries-custom/ReadMe.md
  samples/grids/tree-grid/data-summaries-custom/index.html
  samples/grids/tree-grid/data-summaries-custom/package.json
  samples/grids/tree-grid/data-summaries-custom/sandbox.config.json
  samples/grids/tree-grid/data-summaries-custom/src/EmployeesFlatData.ts
  samples/grids/tree-grid/data-summaries-custom/src/index.css
  samples/grids/tree-grid/data-summaries-custom/src/index.ts
  samples/grids/tree-grid/data-summaries-custom/tsconfig.json
  samples/grids/tree-grid/data-summaries-custom/tslint.json
  samples/grids/tree-grid/data-summaries-custom/webpack.config.js
Labels: status: verified, control: tree-grid

#762 mdd-update-highlight-label
  samples/gauges/radial-gauge/highlight-needle/index.html
Labels: status: in-review

#769 fix(tree-grid): enable row-styles sample
  browser/tasks/gulp-samples.js
Labels: control: tree-grid

#773 Add tree grid multi cell selection mode sample for Web Components
  samples/grids/tree-grid/multi-cell-selection-mode/.prettierrc
  samples/grids/tree-grid/multi-cell-selection-mode/ReadMe.md
  samples/grids/tree-grid/multi-cell-selection-mode/index.html
  samples/grids/tree-grid/multi-cell-selection-mode/package.json
  samples/grids/tree-grid/multi-cell-selection-mode/sandbox.config.json
  samples/grids/tree-grid/multi-cell-selection-mode/src/EmployeesFlatData.ts
  samples/grids/tree-grid/multi-cell-selection-mode/src/index.css
  samples/grids/tree-grid/multi-cell-selection-mode/src/index.ts
  samples/grids/tree-grid/multi-cell-selection-mode/tsconfig.json
  samples/grids/tree-grid/multi-cell-selection-mode/tslint.json
  samples/grids/tree-grid/multi-cell-selection-mode/webpack.config.js
Labels: control: tree-grid
