Repository IgniteUI/igniteui-wc-examples, pull requests merged in 2025-04, with the labels that each got.

#965 fix(rating): styling sample issues
  samples/inputs/rating/styling/index.html
  samples/inputs/rating/styling/src/index.css
Labels: bug: in-sample, status: verified, control: rating

#971 feat(tooltip): add tooltip samples (vnext)
  browser/public/index.html
  samples/inputs/tooltip/overview/.prettierrc
  samples/inputs/tooltip/overview/ReadMe.md
  samples/inputs/tooltip/overview/index.html
  samples/inputs/tooltip/overview/package.json
  samples/inputs/tooltip/overview/sandbox.config.json
  samples/inputs/tooltip/overview/src/index.css
  samples/inputs/tooltip/overview/src/index.ts
  samples/inputs/tooltip/overview/tsconfig.json
  samples/inputs/tooltip/overview/webpack.config.js
  samples/inputs/tooltip/placement/.prettierrc
  samples/inputs/tooltip/placement/ReadMe.md
  samples/inputs/tooltip/placement/index.html
  samples/inputs/tooltip/placement/package.json
  samples/inputs/tooltip/placement/sandbox.config.json
  samples/inputs/tooltip/placement/src/index.css
  samples/inputs/tooltip/placement/src/index.ts
  samples/inputs/tooltip/placement/tsconfig.json
  samples/inputs/tooltip/placement/webpack.config.js
  samples/inputs/tooltip/rich/.prettierrc
  samples/inputs/tooltip/rich/ReadMe.md
  samples/inputs/tooltip/rich/index.html
  samples/inputs/tooltip/rich/package.json
  samples/inputs/tooltip/rich/sandbox.config.json
  samples/inputs/tooltip/rich/src/index.css
  samples/inputs/tooltip/rich/src/index.ts
  samples/inputs/tooltip/rich/tsconfig.json
  samples/inputs/tooltip/rich/webpack.config.js
  samples/inputs/tooltip/styling/.prettierrc
  samples/inputs/tooltip/styling/ReadMe.md
  samples/inputs/tooltip/styling/index.html
  samples/inputs/tooltip/styling/package.json
  samples/inputs/tooltip/styling/sandbox.config.json
  samples/inputs/tooltip/styling/src/Styling.css
  samples/inputs/tooltip/styling/src/index.css
  samples/inputs/tooltip/styling/src/index.ts
  samples/inputs/tooltip/styling/tsconfig.json
  samples/inputs/tooltip/styling/webpack.config.js
  samples/inputs/tooltip/triggers/.prettierrc
  samples/inputs/tooltip/triggers/ReadMe.md
  samples/inputs/tooltip/triggers/index.html
  samples/inputs/tooltip/triggers/package.json
  samples/inputs/tooltip/triggers/sandbox.config.json
  samples/inputs/tooltip/triggers/src/index.css
  samples/inputs/tooltip/triggers/src/index.ts
  samples/inputs/tooltip/triggers/tsconfig.json
  samples/inputs/tooltip/triggers/webpack.config.js
Labels: status: verified, control: tooltip

#968 feat(file-input): add file input samples (vnext)
  browser/public/index.html
  samples/inputs/file-input/form/.prettierrc
  samples/inputs/file-input/form/ReadMe.md
  samples/inputs/file-input/form/index.html
  samples/inputs/file-input/form/package.json
  samples/inputs/file-input/form/sandbox.config.json
  samples/inputs/file-input/form/src/index.css
  samples/inputs/file-input/form/src/index.ts
  samples/inputs/file-input/form/tsconfig.json
  samples/inputs/file-input/form/webpack.config.js
  samples/inputs/file-input/overview/.prettierrc
  samples/inputs/file-input/overview/ReadMe.md
  samples/inputs/file-input/overview/index.html
  samples/inputs/file-input/overview/package.json
  samples/inputs/file-input/overview/sandbox.config.json
  samples/inputs/file-input/overview/src/index.css
  samples/inputs/file-input/overview/src/index.ts
  samples/inputs/file-input/overview/tsconfig.json
  samples/inputs/file-input/overview/webpack.config.js
  samples/inputs/file-input/prefix-suffix/.prettierrc
  samples/inputs/file-input/prefix-suffix/ReadMe.md
  samples/inputs/file-input/prefix-suffix/index.html
  samples/inputs/file-input/prefix-suffix/package.json
  samples/inputs/file-input/prefix-suffix/sandbox.config.json
  samples/inputs/file-input/prefix-suffix/src/index.css
  samples/inputs/file-input/prefix-suffix/src/index.ts
  samples/inputs/file-input/prefix-suffix/tsconfig.json
  samples/inputs/file-input/prefix-suffix/webpack.config.js
  samples/inputs/file-input/styling/.prettierrc
  samples/inputs/file-input/styling/ReadMe.md
  samples/inputs/file-input/styling/index.html
  samples/inputs/file-input/styling/package.json
  samples/inputs/file-input/styling/sandbox.config.json
  samples/inputs/file-input/styling/src/FileInputStyling.css
  samples/inputs/file-input/styling/src/index.css
  samples/inputs/file-input/styling/src/index.ts
  samples/inputs/file-input/styling/tsconfig.json
  samples/inputs/file-input/styling/webpack.config.js
Labels: status: resolved, control: file-input
